<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
    <title>Gerenciador de Doacoes</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/Doadores">Doadores</a>
                </li>
                <li>
                    <a href="/Doacoes">Doacoes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main> 
    <img src="/Vk/static/img/materia_dia-de-doar.png">
</body>
</html>